<!DOCTYPE HTML5>
<html>
	<head>
		<title>template-js</title>
		<script src="template.js" type="text/javascript"></script>
	</head>
	<body>
	<script>
		String.prototype.escapeHTML = function () {                                        
			return(                                                                 
				this.replace(/&/g,'&amp;').                                         
					replace(/>/g,'&gt;').                                           
					replace(/</g,'&lt;').                                           
					replace(/"/g,'&quot;')                                         
			);                                                                      
		};

		function w(x) { document.write(x); }
		function wb(block, color) { 
			if ( color ) {
				w('<pre style="background-color: ' + color + '"><code>'); 
			} else {
				w('<pre><code>'); 
			}
			w(String(block).escapeHTML()); 
			w('</code></pre>'); 
		}
		function wt(template) {
			wb( template.toCodeString().replace(/;|\{|\}/g, '$&\n').replace(/[\n\r]+/g, '\n').replace(/\{\n\}/g, '{}'), '#CFC');
		}
		function render(template, context) {
			wb( JSON.stringify(context) + ' =>\n' + template(context), '#DDD' );
		}
		function test(src, pt) {
			w('<div style="border:5px solid #999; padding: 5px; margin: 5px;">');
			wb(src, '#CCF')
			var template = compile(src, pt);
			wt(template);
			for ( var i=1;i<arguments.length;i++ ) {
				render(template, arguments[i]);
			}
			w('</div>');
		}

		test('Hello, {{name}} world!', { name: 'template' });
		test('the sum of {{x}} and {{y}} is {{x+y}}', { x:3, y: 5});
		test([
			'Hi {{name}}!',
			'{% if gender === "male" %}',
				'You know, once a man hits {{age+1}}, he\'s going to start slowing down.',
			'{% else %}',
				'You know, after a woman hits {{age-5}}, she\'s going to start slowing down.',
			'{% end %}',
			'Ask your doctor about crack cocaine today!'
		].join('\n'), 
			{ name: 'Bill', age: 29, gender: 'male' }, 
			{ name: 'Susan', age: 28, gender: 'female'}
		);

		test([
			'I like to give my pets unusual names: ',
			'{% for each pet, rank in my.pets %}',
				'my {{pet.species}} is named {{pet.name}}',
				'{% if rank < my.pets.length - 1 %}',
					', ',
				'{% else %}',
					'. ',
				'{% end %}',
			'{% end %}'
		].join(''), { my: { pets: [ 
			{ name: 'Fluffy', species: 'fish' }, 
			{ name: 'Bingo',  species: 'bird' },
			{ name: 'Nemo',   species: 'dog'  },
			{ name: 'Yeller', species: 'cat'  }
		] } });

		w('<h6>Simple Base Template For a Message</h6>');
		var messageBase = compile([
			'<div>',
				'<h6> {% block title %} TITLE {% endblock title %} </h6>',
				'<div> {% block lead %} LEAD {% endblock lead %} </div>',
				'<p> {% block content %} CONTENT {% endblock content %} </p>',
			'</div>'
		].join('\n'));
		wt(messageBase);

		w('<h6>Specialized Simple Message</h6>');
		var message = compile([
			'{% block title %} Message - {{title}} {% endblock title %}',
			'{% block content %} {{content}} ... {% endblock content %}'
		].join('\n'), messageBase);
		wt(message);
		render(message, {
			title: 'Hello',
			content: 'So, how\'s it going today?'
		});


		var base = compile([
			'<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">',
			'<html lang="en-us" dir="ltr">',
			'<head>',
			'<!-- meta -->',
			'<meta http-equiv="content-type" content="text/html; charset=utf-8">',
			'<meta name="author" content="Oran Looney">',
			'<meta name="robots" content="INDEX,FOLLOW">',
			'<meta name="description" content="Oran quitely programming away and sharing a few of the lessons learned">',
			'<meta name="keywords" content="Programming,Code,Coding,Software,Software Development,Web,Web Development,Python,JavaScript,C++">',
			'',
			'<title>OranLooney - {% block title %}{% endblock title %}</title>',
			'',
			'<!-- style -->',
			'<link rel="stylesheet" type="text/css" href="/static/site/css/yui-reset-min.css">',
			'<link rel="stylesheet" type="text/css" href="/static/site/css/main.css">',
			'<link rel="stylesheet" type="text/css" media="print" href="/static/site/css/print.css">',
			'<!--[if lt IE 7.]>',
			'	<link rel="stylesheet" type="text/css" href="/static/site/css/icons_gif.css">',
			'<![endif]-->',
			'{% block extrastyle %}{% endblock extrastyle %}',
			'{% block extrahead %}{% endblock extrahead %}',
			'</head>',
			'',
			'<body>',
			'{% block body %}',
			'  <div id="banner">',
			'	<a href="/">OranLooney.com</a>',
			'	<h6>quietly programming away</h6>',
			'  </div>',
			'  <div class="box" id="sidebar">',
			'	{% block quick_search %}',
			'		<form id="quick-search" method="get" action="/search/">',
			'			<div>',
			'				<input type="hidden" name="alltags">',
			'				<input type="text" name="keyword" class="keyword-field">',
			'				<button type="submit" class="search-submit-button">Search</button>',
			'		  	</div>',
			'		  </form>',
			'	{% endblock quick_search %}',
			'',
			'    <ul class="menu">',
			'      {% block home_sidebar %}',
			'        <li class="menu_home"><a href="/">Home</a></li>',
			'      {% endblock home_sidebar %}',
			'',
			'      {% block basic_sidebar %}',
			'		<li class="menu_rss_feed"><a href="/feeds/blog/" title="subscribe to the RSS feed">RSS Feed</a></li>',
			'        <li class="menu_tags"><a href="/tags/" title="search articles by tag">Tags</a></li>',
			'        <li class="menu_index"><a href="/archive" title="search articles chronologically">Archive</a></li>',
			'        <li class="menu_break"></li>',
			'        <li class="menu_bookshelf" title="my books on librarything.com"><a href="http://www.librarything.com/catalog.php?view=olooney&amp;offset=0&amp;shelf_rows=10&amp;previousOffset=0&amp;shelf=shelf">Bookshelf</a></li>',
			'        <li class="menu_sig" title="my endorsement of Agile"><a href="http://agilemanifesto.org/sign/display.cgi?ms=000000203">Manifesto</a></li>',
			'',
			'        <li class="menu_about_site" title="about the site itself"><a href="/colophon/">Colophon</a></li>',
			'        <li class="menu_about_me"><a href="/author/" title="about the author">Author</a></li> ',
			'      {% endblock basic_sidebar %}',
			'      {% block sidebar %}',
			'      {% endblock sidebar %}',
			'    </ul>',
			'  </div>',
			'  <div id="main-wrapper">',
			'	{% block main_wrapper %}',
			'      {% block before_main %}{% endblock before_main %}',
			'      <div class="content-page">',
			'        {% block main %}',
			'        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus convallis. ',
			'        {% endblock main %}',
			'      </div>',
			'      {% block after_main %}{% endblock after_main %}',
			'	{% endblock main_wrapper %}',
			'  </div>',
			'',
			'{% endblock body %}',
			'</body>',
			'</html>'
		].join('\n'));
		w('<h6>Base Template</h6>');
		wt(base);

		var search = compile([
			'			',
			'{% block title %}Search{% endblock title %}',
			'{% block main %}',
			'	',
			'	{% block search_form %}',
			'		<form method="get" action="/search/">',
			'			<h1>Search</h1>',
			'			<div>	',
			'				{{search_form.keyword.html}}',
			'				<input type="submit" class="search-submit-button" value="Search">',
			'				<br>',
			'				{% if left_blank %}',
			'					<small class="error">[Enter at least one keyword.]</small> <br>',
			'				{% endif %}',
			'				<small>You may use AND and OR to form complex queries.</small>',
			'			</div>',
			'		{% if !keyword %}',
			'		<script type="text/javascript" type="text/javascript">',
			'			document.getElementById("id_keyword").focus();',
			'		</' + 'script>',
			'		{% endif %}',
			'		',
			'		<div class="search-tag-filters">',
			'			{% for each field, index in search_form.include_fields %}',
			'				<div class="search-tag-filter">',
			'					<small>',
			'						{{field.html}}{{field.label}}',
			'					</small>',
			'				</div>',
			'			{% endfor %}',
			'			<br style="clear:both;">',
			'		</div>',
			'		',
			'		</form>',
			'	{% endblock search_form %}',
			'	',
			'	{% block results %}',
			'		{% if keyword %}',
			'			<div>',
			'				<h1>{{results.count}} Results For "{{keyword}}" </h1>',
			'				<ul class="index">',
			'					{% for each article, rank in results %}',
			'						<li>',
			'							<h4>{{article.title}}</h4>',
			'							<p>{{article.teaser}}</p>',
			'						</li>',
			'					{% endfor %}',
			'				</ul>',
			'			</div>',
			'		{% endif %}',
			'	{% endblock results %}',
			'',
			'    <p>',
			'      Not finding anything?  You could try the <a href="/archive/">archives</a> or look for a <a href="/tags/">tag</a>.',
			'    </p>',
			'	',
			'{% endblock main %}'
		].join('\n').replace(/\t/g, ' '),
		base);
		w('<h6>Search Template inherits from Base</h6>');
		wt(search);
		
		w('<h6>Rendered Search Page</h6>');
		w('<p>Uses the generic HTML from the base template with specializations for the Search Page.</p>');
		render(search, {
			keyword: 'hello',
			left_blank: false,
			results: [{
				title: 'Testing Methodologies',
				teaser: 'Hello, my name is Oran and I\'m here today to talk about...'
			}, {
				title: 'Hello, nodeJS World!',
				teaser: 'node.js is an up-and-coming SSJS framework based on the V8...'
			}],
			search_form: {
				keyword: { html: '<input name="keyword">', label: 'Keyword' },
				include_fields: [
					{ html: '<input type="checkbox" name="C++">', label: 'C++' },
					{ html: '<input type="checkbox" name="Java">', label: 'Java' },
					{ html: '<input type="checkbox" name="Python">', label: 'Python' }
				]
			}
		});
		
		</script>

	</body>
</html>
